<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Parametres</title>
</head>

<body>
    <img class="image" src="../../assets/img/cat.png" alt="">
    <img class="image1" src=" ../../assets/img/pencil.png " alt=" ">
    <div class="div1 ">
        <h1 style="font-size:350%; ">Uzumaki Naruto</h1>
        <div class="box ">
            <p class="txt " style="margin-top: 5%; ">Nom au complet</p>
            <p class="txt1 ">Uzumaki Naruto</p>
            <button class="bouton "><p class="modifier ">Modifier</p></button>
            <p class="txt ">Pseudo</p>
            <p class="txt1 ">nanandaime_hokage</p>
            <button class="bouton "><p class="modifier ">Modifier</p></button>
            <p class="txt ">Mot de passe</p>
            <p class="txt1 ">********************</p>
            <button class="bouton "><p class="modifier ">Modifier</p></button>
        </div>
        <button class="bouton1 "><p class="deconnecter "> Se deconnecter </p></button>
    </div>

</body>

</html>