<!-- moitié droite de la page -->
<div class="rectangleD ">
    <img class="image" src=" photos.png " alt="logo ">
    <p class="gallery ">My Gallery</p>
</div>
<!-- moitié gauche -->
<div class="rectangle ">

    <h2 style="margin-left: 40%; ">Se connecter</h2>
    <!-- formulaire -->
    <form method="post " class="centre ">
        <div>
            <h3 style="margin-top: 10%; ">Pseudo</h3>
            <input class="input " type=" text " name="pseudo " id="pseudo ">
            <h3 style="margin-top:10% ">Mot de passe</h3>
            <input class="input " type=" text " name="password " id="password ">
        </div>
        <div>
            <button class="bouton " type=" submit " routerLink="../accueil">
                  <p style=" margin-top:4%; color: aliceblue; ">Se connecter</p>
                  <p style="margin-top: 6%; ">Pas encore de compte? <a routerLink="../register/ ">S’inscrire</a></p>
                </button>

        </div>
    </form>


</div>