.container {
    position: relative;
    margin-left: 3%;
    margin-top: 3%;
    height: 15%;
    width: 10%;
}

.image {
    height: 100%;
    width: 100%;
}

.image:hover {
    background-color: darkgray;
}

.container:hover .image {
    opacity: 0.3;
}

.plus {
    position: absolute;
    margin-top: 25%;
}


/* footer */

.carre {
    position: absolute;
    margin-top: 25%;
    margin-left: 80%;
    width: 4%;
    height: 5%;
    border: 1px solid rgb(0, 0, 0);
}

.page {
    position: relative;
    text-align: center;
    margin-top: 15%;
}

.sur {
    margin-left: 86%;
    margin-top: 26%;
}

.page1 {
    position: absolute;
    margin-left: 87%;
    margin-top: -2.2%;
}

.carre1 {
    position: absolute;
    width: 2%;
    height: 5%;
    background-color: darkgrey;
    margin-left: 90%;
    margin-top: -2.8%;
}

.carre2 {
    position: absolute;
    width: 2%;
    height: 5%;
    background-color: grey;
    margin-top: -2.8%;
    margin-left: 92.6%;
}

.img {
    position: relative;
    margin-left: 30%;
    margin-top: 45%;
}