<body>

    <ul>
        <li>
            <a class="navbar-brand" href="#">
                <img src="../../assets/img/photos.png" alt="..." height="36">
            </a>
        </li>
        <div class="txt">
            <li><a class="active" routerLink="../accueil">>Accueil</a></li>
            <li><a routerLink="../albums">>Albums</a></li>
            <li>
                <a routerLink="../photos">>Photos</a>
            </li>
            <li><a routerLink="../parametres">>Parametres</a></li>
        </div>
    </ul>